<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="w3-large w3-center w3-section"> 
  <%= form.text_field :Contact %>
  <div class="field"> 
  </div>
  <div class="actions" style="w3-button w3-black w3-round">
    <%= form.submit %>
  </div>
<% end %>
<%#= link_to 'New Package', new_package_path %>

  
