<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookdetail.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bookdetail.email %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bookdetail.amount %>
</p>

<%= link_to 'Edit', edit_bookdetail_path(@bookdetail) %> |
<%= link_to 'Back', bookdetails_path %>
